html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Invoice
    body(style="font-family: Arial; font-size: 14px;")
        article
            header 
                h1 Falcon transfer 
        table(style="border-spacing: 0;")
            tr
                td Amount:
                td #{orderObj.amount}
            tr
                td Currency:
                td #{orderObj.currency}
            tr
                td Date:
                td #{orderObj.ctime}
            tr
                td Order details:
                td #{orderObj.details}
            tr
                td Bank details:
                td #{bank_details}